<body>
    <div class="container">
        <div class="title">LOGIN</div>
        <form action="#">
                <div class="input-box">
                    <img src="https://cdn-assets-eu.frontify.com/s3/frontify-enterprise-files-eu/eyJwYXRoIjoiYm9zY2hcL2FjY291bnRzXC9hNVwvNDAwMDA5OFwvcHJvamVjdHNcLzc4XC9hc3NldHNcL2U1XC8zMTI1NlwvZWQ5ZmMxNzc2ZTJkOTUyYmM3YTkzNWJmMWRhOGM4MmQtMTU3MDgwMjI4MS5zdmcifQ:bosch:nXVDAMauEiNnCQL6dFt72SlpamHJvrLnCSFviZjhCn0?width=2400&color=0,0,0,1" alt="">
                    <input type="text" placeholder="Insira seu edv"  required>  
                </div>
                <div class="input-box">
                    <img src="https://cdn-assets-eu.frontify.com/s3/frontify-enterprise-files-eu/eyJwYXRoIjoiYm9zY2hcL2FjY291bnRzXC9hNVwvNDAwMDA5OFwvcHJvamVjdHNcLzc4XC9hc3NldHNcL2FhXC8zMDk3NlwvN2Q0Y2E1YWIzMjU1ZGQwYWRkNTAwY2ZiZWI5OWViYjctMTU5NTQyNzA3MS5zdmcifQ:bosch:Ax-anXusJDREmMv1wjXO1Ce5UEUYLVj8QHhJgTJMOOE?width=2400" alt="">
                    <input type="password"  placeholder="Insira sua senha" required>
                </div>
            <button class="btn-login" [routerLink]="['/']">Entrar</button>
        </form>
    </div>
</body>
    