<div>
    <h1>Formulário 1</h1>
    <br>
</div>
<form >
    <label>Pergunta Satisfação</label>
    <fieldset>
        <label>
           <input type="radio" name="opcao" value="angry" checked>
           <img src="../../assets/img/icons/angry.svg" alt="">
        </label>
        <label>
           <input type="radio" name="opcao" value="sad">
           <img src="../../assets/img/icons/sad.svg" alt="">
        </label>
        <label>
           <input type="radio" name="opcao" value="neutral">
           <img src="../../assets/img/icons/neutral.svg" alt="">
        </label>
        <label>
           <input type="radio" name="opcao" value="smile">
           <img src="../../assets/img/icons/smile.svg" alt="">
        </label>
        <label>
           <input type="radio" name="opcao" value="happy">
           <img src="../../assets/img/icons/happy.svg" alt="">
        </label>
    </fieldset>
    <br>
    <label>Pergunta Satisfação</label>
    <fieldset>
        <label>
           <input type="radio" name="op" value="angry" checked>
           <img src="../../assets/img/icons/angry.svg" alt="">
        </label>
        <label>
           <input type="radio" name="op" value="sad">
           <img src="../../assets/img/icons/sad.svg" alt="">
        </label>
        <label>
           <input type="radio" name="op" value="neutral">
           <img src="../../assets/img/icons/neutral.svg" alt="">
        </label>
        <label>
           <input type="radio" name="op" value="smile">
           <img src="../../assets/img/icons/smile.svg" alt="">
        </label>
        <label>
           <input type="radio" name="op" value="happy">
           <img src="../../assets/img/icons/happy.svg" alt="">
        </label>
    </fieldset>
</form>

<div class="save-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    <img src="../../assets/img/icons/save.svg" alt="" srcset="">
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <img src="../../assets/img/icons/alert.svg" class="modal-img">
                <h3 class="modal-title" id="staticBackdropLabel">Tem certeza que deseja salvar?</h3>
                <h5 class="modal-title" id="staticBackdropLabel">Você não poderá alterar depois!</h5>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" data-bs-dismiss="modal" class="btn btn-warning">Salvar</button>
              </div>
        </div>
    </div>
</div>