<body>
    <div class="container">
        <div class="title">CADASTRAR ADMINISTRADOR</div>
        <form action="#">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Nome</span>
                    <input type="text" placeholder="Informe o nome do administrador"  required>
                </div>
                <div class="input-box">
                    <span class="details">EDV</span>
                    <input type="text"  placeholder="Informe o edv do administrador" required>
                </div>
                <div class="input-box">
                    <span class="details">Senha</span>
                    <input type="password" placeholder="Cadastre uma senha"  required>
                </div>
            </div>
            <button class="btn-login">Cadastrar</button>
        </form>
    </div>
</body>
    