
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans',  sans-serif;
    
}

body{
  display: flex;
  height: 72vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.container{
  width: 35%;
  background: rgb(255, 255, 255);
  padding: 40px 30px;
  box-shadow: 0.09rem 0.1rem 0.9rem -0.09rem gray;
}

 .title{
  font-size: 25px;
  font-weight: bold;
  position: relative;
  text-align: center;
}

.container form .user-details{
  display: flex;
  margin: 20px 0 12px 0;
  flex-direction: column;
}

form .user-details .input-box{
  margin-bottom: 15px;
}

.user-details .input-box .details{
  display: block;
  font-weight: 500;
}

.user-details .input-box input{
  height: 35px;
  width: 100%;
  outline: none;
  padding-left: 5px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  border-bottom: 1px solid rgb(97, 97, 97);
  border-top: none;
  border-left: none;
  border-right: none;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-bottom: 1px solid red;
}


.btn-login{
  width: 100%;
  margin: auto auto;
  padding: 16px 0px;
  margin-top: 10px;
  text-transform: uppercase;
  justify-self: center;
  align-items: center;
  font-size: 20px;
  letter-spacing: 3px;
  transition: 0.5s;
  background-color: red;
  border: none;
  color: white;
}

@media only screen and (max-width: 1024px) {
  
  .container{
    width: 70%;
 
    }

    .container .title{
      font-size: 25px;
    } 

    .user-details .input-box input{
      height: 45px;
      width: 100% !important;
      outline: none;
      border: 1px solid #ccc;
      padding-left: 1rem;
      font-size: 15px;
      border-bottom-width: 2px;  
    }

}

@media only screen and (max-width: 300px) {
  
  .container{
    width: 100%;
 
    }
    .container .title{
      font-size: 20px;
      font-weight: 600;
    }

    .user-details .input-box input{
      height: 40px;
      width: 100% !important;
      outline: none;
      border: 1px solid #ccc;
      padding-left: 1rem;
      font-size: 15px;
      border-bottom-width: 2px;  
    }

}