.card{
    width: 60%;
    background-color: white;
    padding: 30px;
    margin-inline: auto;
    border-radius: 5px;
    min-width: 350px;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.content>input{
    width: 100%;
}

#inputs:focus{
    outline: none;
}

.heading{
    border-top: 2px solid #C1C7CC !important;
    margin: 12px 0px;
    padding-top: 18px;
    display: flex;
    flex-direction: column;
}

.enunc{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
}


.alt{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction:row ;
    margin: 12px;
    gap: 12px;
}
.alt>h3{
    margin:auto 0;
    align-self: center;
    text-align: center;
    font-size: 15px;
}
.alt-1{
    text-align: center;
    margin-left: 12px;
    height: 25px;
    width: 25px;
}
.end{
    border-top: 2px solid #C1C7CC !important;
    margin-top: 12px;
    padding-top: 18px;
}

.text-in{
    width: 30%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .375rem;
}

.text-in:focus{
    outline: none;
}